[submodule "community/mathiasbynens"]
	path = community/mathiasbynens
	url = https://github.com/mathiasbynens/dotfiles
[submodule "community/necolas"]
	path = community/necolas
	url = https://github.com/necolas/dotfiles
[submodule "community/skwp"]
	path = community/skwp
	url = https://github.com/skwp/dotfiles
[submodule "community/prezto"]
	path = community/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "zsh/history-substring-search"]
	path = zsh/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
