# WordPress plugin header
snippet plu
	<?php
	/* 
	Plugin Name: ${1}
	Plugin URI: 
	Description: ${2}
	Version: 0.1
	Author: David Herrera
	Author URI: 
	License: GPLv2 or later
	License URI: 
	*/

	${3}
